// @import "../../../variables/_variables.scss";

.navbarBg {
  background-image: url(https://photocentra.ru/images/main71/718559_main.jpg);
  background-image: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
}
